<h2>Select a picture to upload</h2>
<h5>Format must be JPG or PNG</h5>
<form action="/upload" method="POST" enctype="multipart/form-data">
  <p>Add photo:</p>
  <input type="file" name="photo">
  <input type="text" name="caption" placeholder="Enter a photo description">
  <input type="submit" value="UPLOAD!">
</form>